@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Poppins:wght@600&display=swap');

*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-size: cover;
    background-image: url(https://media.istockphoto.com/id/1071047018/vector/login-form-user-interface-vector.jpg?s=612x612&w=0&k=20&c=111C1SLafMRbYr-K_FdU31uk_ybUc8QleVxGaRP2I8Y=);
    background-color: #9fd3ff   ;
    font-family: Arimo;
}

.footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px;
}
.footer>a{
    text-decoration: none;
    color: white;
}
#left-img{
    height: 90vh;
    border-radius: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding: 10px;
}
form{
    float: right;
    margin-right: 120px;
    height: 75vh;
    width: 40%;
    margin-top: -590px;
    padding: 30px;
}
#heading{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(53, 52, 52);
}


input[type=text],input[type=password]{
    width: 300px;
    padding: 6px 12px;
    margin-top: 8px; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    
  }
  input[type=date]{
    width: 300px;
    padding: 6px 12px;
    margin-top: 8px; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;

  }
  input[type=submit]:focus
  {
    background-color:#4087d9;
    color: white;

    }
    input[type=submit] {
    width: 100%;
    background-color: #2770c3;
    color: white;
    padding: 10px 16px;
    margin: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;

    }
    input[type=radio]{
        margin-top: 10px;
        margin-left: 10px;

    }
    
.container{
    background-color: #76b5c5;
    width: 95%;
    height: 90vh;
    border-radius: 10px;
    justify-items: center;
    margin: 30px 0px 0px 30px;
}

input[type=submit]:hover{
    background-color: green;
}